[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
inquirer = "*"
html2text = "*"
colorama = "*"

[dev-packages]
flake8 = "*"

[scripts]
start = "python -m trivia"
